h1 {
	margin-top:50px;
	font-size: 64px;
	text-align: center;
	color:#7c7e81;
}

body {
	background-color: whiteSmoke;
	font-family: 'Helvetica Neue';
}

div.four-stuff {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	
}

div.four-stuff a{
	background-color: #fff;
	border: 2px solid #7c7e81;
	display: inline;
	float: left;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
	color: 7c7e81;
	

  
	transition: background-color 500ms linear;
	-webkit-transition: background-color 500ms linear;
	
	
	
}

div.four-stuff a:hover{
	background-color: #53b5e5;
	color: whiteSmoke;
	border-color: #53b5e5;
	
}

div.four-stuff a img{
display: none;	
}


.foursquare-footer {
	margin:0px auto;
	width: 800px;
	text-align: center;
	
}
.namefooter {
	margin:0 auto;
	text-align: center;
	color:#7c7e81
}

.btn {
  color: whiteSmoke;
  background-color: #00aad2;
  font-family: 'Helvetica Neue';
  font-size: 26px;
  padding: 15px 30px;
  border: 0.5px solid;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  margin: 100px auto;
  display: block;
  width: 200px;
	transition: background-color 500ms linear;
	-webkit-transition: background-color 500ms linear;
}
.btn:hover{
	background-color: #00aad2;
	color: whiteSmoke;
	border-color: #00aad2;
}
.btn:active{
	background-color: #019cbf;
}
