

<html>
<head>
<LINK href="/styles/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>My Spots</h1>
<a class=btn href="https://foursquare.com/oauth2/authenticate?client_id=PUOBW2R5TY3KJT0JHRGXCRRHUVRVKSTXJ0VRJEVKOSK3WSZS&response_type=token&redirect_uri=http://localhost:4567/display">Sign In</a>

<div class ="foursquare-footer">
	<img src ="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png">
	</div>
	<div class = "namefooter">
		<p>by <a href="http://www.twitter.com/adamfe"> Adam Feldman</a></p>
		</div>
</body>
</html>
